body {background-color: #23a094;
    font-family: "Nunito", sans-serif;"}

:root {
    --teal: #23a094;
    --pink: #ff90e8;
    --yellow: #ffc900;
    --lavender: #90a8ed;}

h1 {color:#ffc900;
    text-align: center;
    font-size: 50px}

h2 {color:#90a8ed; ;
    text-align: center;
    font-size: 35px}

h3 {color:#ff90e8 ;
    text-align: left;
    font-size: 20px}

h4 {color:#ff90e8 ;
    text-align: center;
    font-size: 20px}

p {color: #ffc900;
    text-align: left;
    font-size: 20px;}
    
* {box-sizing: border-box;}

header {
    padding: 15px;
    text-align: center;}
  
  section {
    display: -webkit-flex;
    display: flex;}
  
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;}
  

  footer {
    padding: 5px;
    text-align: center;
    color: white;
  }
  
.images {
    float: left;
    width: 25%;
    padding: 5px;
    transition: opacity .5s ease-in-out;
    font-size: 20px;
    color: #ffc900;
    text-align: center;}

.team:after {
    content: "";
    clear: both;
    display: table;}

.images:hover {opacity: 50%;} 
  
