body {background-color: #23a094;
    font-family: "Nunito",sans-serif}

:root {
    --teal: #23a094;
    --pink: #ff90e8;
    --yellow: #ffc900;
    --lavender: #90a8ed;}

h2 {color:#ff90e8 ;
    text-align: center;
    font-size: 50px}

p {color: #ffc900;
    text-align: left;
    font-size: 30px;}
.top {display: flex; 
    flex-direction: row;
    flex-wrap:nowrap;
    align-content: center;
    justify-content: space-around;
    }

.flexbox {display: inline-block;
    flex-direction: row;
    flex-wrap: wrap; 
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    transition: opacity 1s ease-in-out;}
.image-container:hover {opacity: 50%;} 

.image-container img {
    display: inline-block;
    height: auto;}
  
.overlay-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%); 
    color: midnightblue; 
    padding: 10px 20px; 
    font-size: 30px; 
    text-align: center; }