:root {
  --teal: #23a094;
  --pink: #ff90e8;
  --yellow: #ffc900;
  --lavender: #90a8ed;
}

body {
  font-family: 'Nunito';
  font-size:0.9rem;
  margin: 0;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  background-color:hsl(210, 59%, 93%);
  min-width: 280px;
  color: #2f3636
}
h2, p {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.banner{
  padding-top: 2rem;
}
.banner img {
 max-width: 85%;
}
.hero {
  display: flex;
  justify-content: center;
  padding-top: 1.4rem;
  padding-bottom: 0.85rem;
  margin-bottom: 0.45em;
  margin-left: 0.1em;
}
.hero img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: -3px 4.5px 8px rgba(0, 0, 0, 0.28);
}

.about {
  max-width: 91.5%;
  border: solid var(--lavender);
  border-radius: 8px;
  padding: 1rem;
  padding-bottom: 2.2rem;
  background-color: var(--lavender)
}

#test1 img {
  width: 80px;
  height: 80px;
}
#disclaimer {
  display: flex;
  font-size: 0.8em;
  color:hsla(240, 100%, 99%, 0.768);
  width: 85%;
  padding-left: 1.4rem;
  padding-bottom: 6px;
}

.testimonials {
  border: solid var(--pink);
  border-radius: 8px;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  background-color: #ff90e8;
  max-width: 91.5%;
}
#test1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#test1 p {
  line-height: 1.35rem;
  margin-left: 1rem;
}
#test1 img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-right: 2px;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.65);
}

.contact {
  border: solid var(--yellow);
  border-radius: 8px;
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  background-color: var(--yellow);
  max-width: 91.5%;
}
@media (min-width: 600px) {
  body {
    font-size: 1rem;
    padding: 4rem;
  }
  .banner {
    min-width: 90%;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
  }    
  .hero {
    width: 96.9%;
  }
  #disclaimer {
    width: 85%;
    padding-left: 2.5rem;
  }
  h2, p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #test1 img {
    width: 62px;
    height: 62px;
    margin-left: 1rem;
  }
}
@media (min-width: 900px) {
  body {
    font-size: 1.125rem;
    max-width: 1080px;
    padding: 6rem;
  }
  h2, p {
    padding-left: 1.8rem;
    padding-right: 2rem;
  }
  .banner {
    width: 75%;
    padding-top: 0.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
  } 
  .hero {
    min-width: 94%;
    max-width: 95%;
    margin-bottom: 0.6rem;
    margin-left: 0;
  }
  #disclaimer {
    width: 80%;
    padding-left: 5rem;
    padding-right: 2rem;
  }
  img {
    margin-left: 0;
  }
}
