
:root {
    /*Define Font Color*/
    --teal: #23a094;
    --pink: #ff90e8;
    --yellow: #ffc900;
    --lavender: #90a8ed;
    --white: #fafaf1;
    --black: #333;

    /* Define font weights  */
    --font-light: 200;
    --font-normal: 400;
    --font-bold: 700;
  }

 /* Basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Applying style to body elements*/
body {
    font-family: "Nunito";
    background-color: var(--lavender);
    color: var(--black);
}

/* Define font-weight variables for different class */
.nunito-light {
    font-weight: var(--font-light);
}

.nunito-normal {
    font-weight: var(--font-normal);
}

.nunito-bold {
    font-weight: var(--font-bold);
}

/* Style for headings and text */
h2 {
    color: var(--teal);
    font-family: "Nunito";
    font-weight: var(--font-bold);
}
/*styling anchor element used to create hyperlink*/
a {
    color: var(--teal);
    text-decoration: none;
}
/*change tex color when hoover over anchor element*/
a:hover {
    color: var(--yellow);
}

/* diff Sections stylings */
.bio, .services, .testimonials, .contact {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.dog-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;/*remove default spacing*/
    margin: 0; /*remove default spacing*/
}

/* Styling Figure element in .dog-images class*/
.dog-images figure {
    flex: 1 1 45%; 
    margin: 10px;
    text-align: center;
    box-sizing: border-box; 
}
/*Styling the img element in .dog-images class*/
.dog-images img {
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; /*image will maintain ratio covering the whole container*/
    border-radius: 8px;/*round corner for the image*/
}
/*styling figcaption in the .dog-image class*/
.dog-images figcaption {
    margin-top: 5px;
    color: var(--pink);
}

/* Contact style */
.contact p {
    margin-top: 10px;
}

/*place service and testimony sections in a container*/
/*flex container, allow things to align and space evenly in the container*/
.content-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
}
/*styling service and testimonial secitons*/
.services, .testimonials {
    flex: 1 1 48%; 
    margin: 10px;
    background-color: #f0f0f0;
}
/*style the list item for  services class*/
.services ul {
    list-style-type: disc; 
    padding-left: 20px; 
}
/*style list item text to the left for services class*/
.services li {
    text-align: left; 
    margin-left: 20px; 
}

/*add this in for tablet and mobile friendly*/
@media (max-width: 800px) {
    .content-container {
        flex-direction: column;
    }

    .services, .testimonials {
        flex-basis: 100%; 
        margin: 10px;
    }

    .bio, .services, .testimonials, .contact {
        margin-top: 20px;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }

    .dog-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .dog-images figure {
        flex: 1 1 45%; 
        margin: 10px;
        text-align: center;
        box-sizing: border-box; 
    }

    .dog-images img {
        width: 100%; 
        max-height: 200px; 
        object-fit: cover; 
        border-radius: 8px;
    }

    .dog-images figcaption {
        margin-top: 5px;
        color: var(--pink);
    }

    .contact p {
        margin-top: 10px;
    }
}